.popup {
  background-color: #fff;
  width: 1000px;
  height: 800px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
}
.popup-container__menu {
  position: fixed; 
  top: 0;   
  width: 100%;
  height: 100%;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWP4/PnzQwAJcQO7MDYKDQAAAABJRU5ErkJggg==");
  z-index: 100;
  display: none;
}

.popup-container__ball {
  position: fixed; 
  top: 0;
  font-family: "Roboto-Regular"; 
  font-size: 30px;
  width: 100%;
  height: 100%;
  background-color: gray;

  z-index: 100;
  display: none;
}

.popup-container__ball input {
  font-size: 30px;
}

#popup__menu {
  background-color: #ebebeb;
  margin: 50px auto;
  width: 350px;
  height: 300px;

}

#popup__menu ul {
  padding-left: 30px;
}

#popup__menu li {
  list-style-type: none;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d7d7d7;
}

#popup__menu ul a {  
  color: black;
  font-size: 18px;
}

#popup__menu ul a:hover {  
  text-decoration-line: underline;
  color: red;
  font-size: 22px;
}

#popup__menu-menu {  
  display: flex;
  height: 50px;
  padding-left: 10px;
  background-color: white;  
  justify-content: space-between;
}

.popup__menu-delete {
  width: 22px;
  height: 22px;
  background-position: center;
  border-radius: 4px;
  margin-right: 10px;
  margin-top: 12px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAACqSURBVDhPrZRhCoQgEEbdvZedx396CqOj5CXd3tAEUQ7FzgPDdL7HFNmnbwQHvlymaQqlFFl4AxmyAh2llOiqz/PM7SOoJUMWRATLsjyWqYSMcohACyzZqOYkAktm7V1EoIFa677SZW51eysCla3rKsOSwFAErTURMJhbyHfkwi684PJoKvnrZavkLmDtnURWoTKqOUQuR8Tt0MYYe85ZFt5Ahiw4/dhC+AHehV1kUs7qXgAAAABJRU5ErkJggg==");
  background-repeat: no-repeat;  
}

.popup__menu-tel {
  margin-top: 12px;
  margin-left: 5px;    
}

.popup__menu-tel h6{
  font-size: 18px; 
  font-family: "Roboto-Regular";
  margin: 0;
  padding: 0;

}

#popup__button_ball {
  background-color: #e1e1e1;
  margin: 50px auto;
  z-index: 10;
}

.col__style {  
  display: flex;  
  justify-content: center;
}

.button-container {  
  display: flex;  
  justify-content: center;
  margin-top: 50px;
}

.btn-cancel {
  margin-right: 20px;
}

.popup__main-container_button[class*='col'] {
  margin-left: 10px;
}





.row__style {
  margin: 10px;
}

.main-container__button-news h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.main-container__button-news h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.main-container__button-news ul {
  margin-bottom: 10px;
}

.form-control {
  font-size: 16px;
}

.button-container__1024 {
  margin-top: 15px;
}

@media (max-width: 1300px) {
  .main-container__button-news {
    left: 0;
    font-size: 14px;
  }


.popup {
  background-color: #fff;
  font-family: "Roboto-Regular";
  width: 900px;
  height: 900px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
}

  .row__style {
    margin: 15px;
  }

  .main-container__button-news h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }

  .main-container__button-news h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
  }

  .main-container__button-news ul {
    margin-bottom: 5px;
  }

  .form-control {
    font-size: 14px;
  }

  .form-control input {
    font-size: 14px;
  }

  .button-container__1024 {
    margin-top: 10px;
  }
}
@media (max-width: 600px) {
  .popup-container__ball {
    font-size: 12px;
  }

.popup {
  background-color: #fff;
  width: 320px;
  height: 900px;
  padding: 3px;
  margin: 0 auto;
  position: relative;
}

#popup__menu ul a {
  font-size: 12px;
}

#popup__menu ul a:hover { 
  font-size: 16px;
}

.popup__menu-tel h6{
  font-size: 12px;
}

.popup__menu-delete {
  width: 16px;
  height: 16px;
}

  .popup-container__ball input {
    font-size: 16px;
  }

  .main-container__button-news_row-col[class*='col'] {
    margin-left: 5px;
  }

  .main-container__button-news {
    font-size: 12px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 320px;
    height: 800px;
  }

  .main-container__button-news h2 {
    font-size: 16px;
  }

  .col__320 {
    display: none;
  }

  .main-container__button-news_row-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form-control {
    font-size: 12px;
    margin: 0;
    padding: 0;
  }

  .form-control input {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style_diplom_popup.css.map */
